{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="wrapper">
        <h1 class="display-2">{{ list_name }} ToDo's</h1>
        <a href="{% url 'add_task' list_name=list_name %}" class="btn btn-success btn-lg">Add new task</a>
    </div>
    <hr>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success my-2"><b>{{ message }}</b></div>
        {% endfor %}
    {% endif %}

    <div class="row">
        {% for todo in todos %}
            <div class="card">
                <div class="card-header">
                    {{ todo.title }} <a href=""><img src="{% static 'edit.png' %}" width="5%"></a>
                    <br>
                    <span class="badge bg-danger">Deadline</span>
                </div>

                <div class="card-body">
                    <p>{{ todo.content|safe }}</p>
                    <hr>
                    <p><b>{{ todo.due_date }}</b> | <span class="badge bg-warning">{{ todo.priority }}</span></p>
                </div>

                <div class="card-footer">
                    <a href="{% url 'complete_task' task_title=todo.title %}" class="btn btn-success btn-lg">Completed</a>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}